/* Give your page a fun background color */
body {
    background-color:darkgoldenrod;
}
/* Make the header and footer a different color from the background */
header/footer {
    background-color:thistle;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color:yellow;
}
/* Put a border around your image */
 image {
    border: 10px solid chocolate;
 }
/* Change the font-family of your list */
ul {
    font-family:Georgia, 'Times New Roman', Times, serif; 
}